

html, body {
    height: 100%;
  
    }

body {
    font-family: 'system-ui','Helvetica Neue',Arial,sans-serif;
    font-size:15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'system-ui','Helvetica Neue',Arial,sans-serif;
}


p {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 17px;
    line-height: 1.5;
}

section {
    padding: 0px 0;
}

a {
    color: #777;
    text-decoration: none;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    position: fixed;
}

.navbar-internal {
    background-color: rgba(255, 255, 255, .93);
    border-color: rgba(255, 255, 255, .93);
    position: fixed;
}

.input{
    height: 44px;
    width: 320px;
    padding: 12px;
    font-size: 17px;
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    margin-bottom: -12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.submitbtn{
    height: 42px;
    width: 320px;
    font-size: 17px;
    border: 1px solid #FF5959;
    background-color: #FF5959;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 48px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.submitbtn:hover{
    opacity: 88%;
     -webkit-transition: opacity.3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.Jointext{
    text-align: center;
}

#mainLogo{
    height: 42px;
    width: auto;
    float: left;
    margin-top: 18px;
    margin-left: 10px;
}

#appleBadge{
   height: auto;
   width: auto;
   float: right;
   margin-top: 20px;
   margin-right: 14px;
}

#Logo{
    width: 295px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 55px;
    margin-bottom: 24px;
}

#TuppleUI{
    width: 256px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 125px;
}

.cardcontainer{
    margin-top: -500px;
}

.copyright{
position:relative;
font-size: 12px;
margin-top: 75px;
margin-bottom: -50px;
}

.containerlegal{
    padding: 24px;
    max-width: 700px;
    margin-top: 50px;
    margin-bottom: 76px;
    margin-left: auto;
    margin-right: auto;
}

#pageLogo{
    height:65px;
    width:auto;
    margin-bottom: 24px;
}


/*!-----------Footer Start-----------*/


.footer {
   position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
}

#tuppleinc{
    float: left;
    margin-left: 10px;
}

#legal{
    float: right;
    margin-right:14px;
}

#legal2{
    float: right;
    margin-right:24px;
}

.footerinternal{
    padding-bottom: 32px;
}


/*!-----------Responsive Start-----------*/


@media(min-width:767px) {

.footerinternal{
padding-bottom: 24px;
}


}


@media(max-width:767px){


    .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    }

    .navbar-default {
    background-color: rgba(255, 255, 255, .93);
    border-color: rgba(255, 255, 255, 0);
    position: fixed;
    }

    #mainLogo{
    height: 40px;
    width: auto;
    margin-top: 8px;
    margin-left: 0px;
    margin-bottom: 8px;
    }

    #appleBadge{
    margin-top: 16px;
    margin-right: 4px;
    margin-bottom: 8px;
    }

    .row {
    margin-right: 0px;
    margin-left: 0px;
    }

    .center {
    margin-top: 16px;
    width: 100%;
    }

   #Logo{
    max-width: 250px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    }

    .input{
    width: 90%;
    }

    .submitbtn{
    width:90%;
    }

    #TuppleUI{
    height: 600px;
    margin-bottom: 50px;
    width: auto;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    }

    .footermobile {
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    width: 100%;
    height: 65px;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0);
    }

    .containerlegal{
    padding: -16px;
    }

    #tupplellc{
    float: left;
    margin-left:0px;
    }

    #legal{
    float: right;
    margin-right:2px;
    }

    #legal2 {
    float: right;
    margin-right: 10px;
    }

    .footer {
    height: 0px;
    }


}


















