

html, body {
    height: 100%;
  
    }

body {
    font-family: 'system-ui','Helvetica Neue',Arial,sans-serif;
    font-size:15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'system-ui','Helvetica Neue',Arial,sans-serif;
}


p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

section {
    padding: 0px 0;
}

a {
    color: #777;
    text-decoration: none;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    position: fixed;
}

.navbar-internal {
    background-color: rgba(255, 255, 255, .93);
    border-color: rgba(255, 255, 255, .93);
    position: fixed;
}

#mainLogo{
    height: 42px;
    width: auto;
    float: left;
    margin-top: 18px;
    margin-left: 10px;
}

#appleBadge{
   height: auto;
   width: auto;
   float: right;
   margin-top: 20px;
   margin-right: 14px;
}

.container{
    height: 100%;
    width: 100%;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lockcontainer{
}

#Logo{
    max-width: 220px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
}

#TuppleUI{
    max-height: 500px;
    width: auto;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.cardcontainer{
    margin-top: -500px;
}

#Post1{
    width: 100%;
    max-width: 300px;
    margin-left: -45px;
}

#Post2{
    width: 100%;
    max-width: 300px;
    margin-left: 90px;
    margin-top: 35px;
}


#Post3{
    width: 100%;
    max-width: 300px;
    margin-left:-25px;
    margin-top:-42px;
}


#Post4{
    width: 100%;
    max-width: 300px;
    margin-left: 75px;
    margin-top: -10px;
}


.copyright{
position:relative;
font-size: 12px;
margin-top: 75px;
margin-bottom: -50px;
}

.containerlegal{
    padding: 24px;
    max-width: 700px;
    margin-top: 50px;
    margin-bottom: 76px;
    margin-left: auto;
    margin-right: auto;
}


/*!-----------Footer Start-----------*/


.footer {
    position: absolute;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0);
}

.footerinternal {
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255, 255, 255, .93);
}

#tupplellc{
    float: left;
    margin-left: 10px;
}

#legal{
    float: right;
    margin-right:14px;
}

#legal2{
    float: right;
    margin-right:24px;
}


/*!-----------Responsive Start-----------*/





@media(min-width:767px) {

}


@media(max-width:767px){



    .navbar-default {
    background-color: rgba(255, 255, 255, .93);
    border-color: rgba(255, 255, 255, 0);
    position: fixed;
    }

    #mainLogo{
    margin-top: 14px;
    margin-left: 4px;
    }

    #appleBadge{
    margin-top: 16px;
    margin-right: 4px;
    margin-bottom: 8px;
    }

    .row {
    margin-right: 0px;
    margin-left: 0px;
    }

    #Logo{
    max-width: 170px;
    height: auto;
    margin-bottom: 16px;
    margin-top: 8px;
    }

    .containerlegal{
    padding: 20px;
    }

    #tupplellc{
    float: left;
    margin-left: 4px;
    }

    #legal{
    float: right;
    margin-right:8px;
    }


    #TuppleUI{
    max-height: 455px;
    width: auto;
    }


#Post2{
    width: 100%;
    max-width: 285px;
    height: auto;
    margin-left: -35px;
    margin-top: -25px;
    }

#Post3{
    width: 100%;
    max-width: 285px;
    height: auto;
    margin-top: -75px;
    margin-right: -60px;
    }


#Post4{
    width: 100%;
    max-width: 285px;
    margin-top: -73px;
    }

}


















